<div>
	<div class="w3-dropdown-hover" style="background:none;float: right;margin-bottom:-20%;">
    	 <select style="border:none;background-color: #fafbfc;font-family: 'Lato',color:#4a4a4a;width:17px;float:right; " ng-model="selectedLink" ng-change="grid.appScope.searchFilter(selectedLink.id,colFilter.options[0].index);$parent.selectedIndex=$index" ng-options="link.value for link in colFilter.options[1]"></select>
    	</div>
   </div>
   <input class="form-control" type="text" ng-model="colFilter.term" style="width:80%;height:22px;padding-top:-20%;"/>
</div>
